[user]
	email = phil.reusswig@gmail.com
	name = Phil Reusswig
[core]
	editor = nvim
	autocrlf = false
[diff]
	tool = nvimdiff
[difftool]
	prompt = false
[difftool "nvimdiff"]
	cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[merge]
	tool = nvimdiff
	conflictsytle = diff3
[mergetool]
	keepBackup = false
	trustExitCode = false
	prompt = false
[mergetool "nvimdiff"]
	cmd = "nvim -d $LOCAL $MERGED $REMOTE -c "wincmd w""
	layout = (LOCAL,BASE,REMOTE) / MERGED
