[user]
	email = phil.reusswig@gmail.com
	name = Phil Reusswig
[core]
	editor = nvim
	autocrlf = input
[diff]
	tool = nvimdiff
[difftool]
	prompt = false
[difftool "nvimdiff"]
	cmd = nvim -d $LOCAL $REMOTE
[merge]
	tool = nvimdiff
	conflictsytle = diff3
[mergetool]
	keepBackup = false
	trustExitCode = true
	prompt = false
[mergetool "nvimdiff"]
	layout = "LOCAL,BASE,REMOTE / MERGED"
